<!DOCTYPE HTML>
<html>
<head>
    <title>Product Resell</title>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/44344fb420.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/posts-update.css">
</head>
<body>
