spring:
#  datasource:
#    url: jdbc:h2:tcp://localhost/~/test
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver
#  h2.console:
#    enabled: true
#    path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.MySQL57Dialect    # H2Dialect, MySQL57Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  datasource:
    hikari:
      jdbc-url: jdbc:mariadb://productresell.cylyv0ufwnpb.ap-northeast-2.rds.amazonaws.com:3306/ProductResell
      username: admin
      password: Product1!
      driver-class-name: org.mariadb.jdbc.Driver

  output.ansi.enabled: always  # terminal color

  servlet.multipart:    # image size
    max-file-size: 5MB
    max-request-size: 5MB
