{{>layout/header}}
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<h1>판매 목록 ver.2</h1>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#user}}
                <a href="/posts/save" role="button" class="btn btn-primary">물품 등록</a>
                <a href="/logout" class="btn btn-info active" role="button">로그 아웃</a>
                <div>{{user}}님 환영합니다. </div>
            {{/user}}

            {{^user}}
                <a href="/login-select" role="button" class="btn btn-login">로그인</a>
                <a href="/signup" role="button" class="btn btn-primary">회원가입</a>
                <div>guest님 환영합니다. </div>
            {{/user}}
        </div>
    </div>
</div>

<br>
<style>
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-title{
    width: 10px;
    height: 100px;
}
.image-title {
    text-align:center;
    display:table;
    border:1px solid #cecece;
    width:280px;
    height:250px;
    }

.image-box {
    display:table-cell;
    vertical-align:middle;
    }

.image {
    max-width:180px;
    max-height:180px;
    }
</style>

<div class="grid-container">
    {{#posts}}
        <div class="grid-item">
            <div class="image-title">
                <div class="image-box">
                    <a href="/posts/detail/{{id}}" >
                        <img class="image" src="../{{id}}.jpg" />
                    </a>
                </div>
            </div>
            <div class="grid-title">
                <td><a href="/posts/detail/{{id}}">{{title}}</a></td>
            </div>
            <div>
                <h5> 작성자 : {{author}}</h5>
            </div>
        </div>
    {{/posts}}
</div>

{{>layout/footer}}