{{>layout/header}}
<center>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                {{#user}}
                    <i class="fas fa-hand-holding-usd"></i>
                    <a href="/posts/save" role="button" class="btn btn-primary">판매하기</a>
                    <a href="/updateForm"  role="button" class="btn btn-primary">회원정보</a>
                    <i class="fas fa-sign-out-alt"></i>
                    <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
                {{/user}}
                {{^user}}
                    <i class="fas fa-sign-in-alt"></i>
                    <a href="/login-select" role="button" class="btn btn-login">로그인</a>
                    <i class="fas fa-user"></i>
                    <a href="/signup" role="button" class="btn btn-primary">회원가입</a>
                {{/user}}
            </div>
        </div>
    </div>

    <div class="main_title">
        <i class="fas fa-store fa-5x" > 중고번개당근자라나라 </i>
        <a href="/" ></a>
    </div>
</center>

<br>
<div class="wrapper">
    {{#posts}}
        <div class="card" style="cursor:pointer", onclick="location.href='/posts/detail/{{id}}'">
            <img src="/upload-dir/{{id}}.jpg"/>
            <div class="grid-title">
                <p class="title"><a href="/posts/detail/{{id}}">{{title}}</a></p>
                <div class="line"></div>
                <h5> 작성자 : {{author}}</h5>
            </div>
        </div>
    {{/posts}}

    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <h1>aaa</h1>
        <a th:if="${page != nowPage}" th:href="@{/(page = ${page -1})}" th:text="${page}"></a>
        <strong th:if="${page != nowPage}" th:text="${page}" style="color : red"></strong>
    </th:block>
</div>



{{>layout/footer}}
