{{>layout/header}}
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<h1>판매 목록 ver.2</h1>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#user}}
                <a href="/posts/save" role="button" class="btn btn-primary">물품 등록</a>
                <a href="/logout" class="btn btn-info active" role="button">로그 아웃</a>
            {{/user}}

            {{^user}}
                <a href="/login-select" role="button" class="btn btn-login">로그인</a>
                <a href="/signup" role="button" class="btn btn-primary">회원가입</a>
            {{/user}}
        </div>
    </div>
</div>


<br>
<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#posts}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/posts/update/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>
<div class="grid">
    <div class="grid-item"><img src="/img/404.png" width="150"></div>
    <div class="grid-item"><img src="/img/404.png" width="150"></div>
    <div class="grid-item"><img src="/img/404.png" width="150"></div>
</div>
<style>
    .grid-item {
  float: left;
  width: 150px;
  height: 50px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  gutter: 50;
  margin-bottom: 10px;
}

.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 140px; }
</style>

</html>

{{>layout/footer}}