{{>layout/header}}

<style>
.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main right right'
    'menu menu footer footer right right';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.image-box {
    display:table-cell;
    vertical-align:middle;
    }
.image {
    max-width: 100%;
	font-family: system-ui, serif;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 1rem;
    }

</style>

<div class="grid-container">
    <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
    <div class="item1">게시글 수정</div>
    <input type="text" class="item2" id="title" value="{{post.title}}">
</div>

<div class="grid-container">
    <div class="item2">
        <img class="image" src="/shoes.jpg" />
        <input type="file" name="file" id="file" />
    </div>
</div>

<div class="grid-container">
    <input type="text" class="item2" id="content" value="{{post.content}}">
</div>

<div class="col-md-12">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" id="btn-update">수정완료</button>
    </div>

{{>layout/footer}}