{{>layout/header}}

<div class="grid-container">
    <input type="hidden" class="form-control" id="id" value="{{post.id}}" readonly>
    <div class="item1">게시글 수정</div>
    <input type="text" class="item2" id="title" value="{{post.title}}">
</div>

<div class="grid-container">
    <div class="item2">
        <img class="image" src="shoes.jpg" />
        <h5><input type="file" name="file" id="file" /></h5>
    </div>
</div>

<div class="grid-container">
    <input type="text" class="item2" id="content" value="{{post.content}}">
</div>

<div class="col-md-12">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" id="btn-update">수정완료</button>
    </div>

{{>layout/footer}}